@font-face{
	font-family:Cursive;
	src:url('JellykaWesternPrincess.ttf');
}

@font-face{
	font-family:Quicksand;
	src:url('QuickSand.otf');
}

@font-face{
	font-family:Enchanted;
	src:url('EnchantedPrairieDog.ttf');
}

#header{
	padding-top:0.2%;
	background-color:black;
	width:750px;
	height:125px;
	margin-bottom:2%;
	opacity:0.8;
	border-radius:5px;
}

#header1{
	padding-top:0.2%;
	background-color:black;
	width:350px;
	height:125px;
	margin-bottom:2%;
	opacity:0.8;
	border-radius:5px;
}

#footer{
	margin-top:2%;
	background-color:black;
	height:20px;
	opacity:0.8;
	color:white;
	text-align:center;
	font-family:Quicksand;
	font-size:15px;
}

#back{
	float:right;
	background-color:black;
	margin-right:1%;
	margin-top:1.5%;
	opacity:0.8;
	border: 1px dashed white;
	border-radius:5px;
	padding:0.3%;
}

#chosenFood{
	margin:auto;
}

#body{
	width:1000px;
	margin-left:12.5%;
	margin-top:2%;
}

#submitButton{
	font-family:Quicksand;
	font-size:25px;
	margin-left:45%;
}

#chosenFood{
	margin-top:1%;
	margin-bottom:1%;
}

#container{
	margin-top:1%;
	position:relative;
	margin-left:12.5%;
}

#instructions{
	margin-left:12.5%;
	background-color:white;
	color:black;
	font-size: 20px;
	width:1000px;
	opacity:0.8;
	text-align:left;
	font-family:Quicksand;
	font-weight:bold;
	border-radius:5px;
}

#container img.foodPics{
	position:relative;
	display:block;
}

a.heading{
	font-size:90px;
	font-family:Cursive;
	color:white;
	margin-left:2%;
}

a.links{
	text-decoration:none;
	color:white;
	font-size:30px;
	font-family:Enchanted;
}

a.links:hover{
	background-color:white;
	color:black;
}

tr{
	color:white;
	font-size:20px;
	font-family:Quicksand;
	background-color:black;
	opacity:0.8;
}

td{
	text-align:center;
}

td.foodTable{
	width:600px;
	text-align:left;
}

.selectAll{
	border-radius:5px;
	font-size:16px;
	font-family:Quicksand;
}

.seeList{
	color:black;
	font-weight:bold;
}

.seeList:hover{
	color:red;
	font-weight:bold;
}

.title{
	background-color:white;
	font-size:35px;
	font-family:Quicksand;
	color:white;
	opacity:0.8;
	border-radius:5px;
	margin-bottom:3%;
	color:black;
}

table#myTable{
	margin:auto;
}

td#each{
	width:50px;
	text-align:center;
	color:white;
	font-size:16;
}

p{
	font-weight:bold;
	font-size:18;
	color:black;
	background-color:white;
	text-align:center;
	opacity:0.8;
	font-family:Quicksand;
}

#infeasible{
	height:295px;
}